<%- include('./partials/header') %>
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page"><%-category[0].category %></h2>
    <nav>
      <ol class="breadcrumb text-white">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <%-category[0].category %>
        </li>
      </ol>
    </nav>
  </div>
  <!-- container //  -->
</section>
<section class="section-content bg padding-y">
  <div class="container">
    <div class="row">
      <!-- col.// -->
      <main class="col-md-12">
        <div class="row">
          <% products.data.forEach(product =>{ %>
          <div class="col-md-3">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <span class="badge badge-danger"> NEW </span>
                <img src="/images/items/4.jpg" />
                <a class="btn-overlay" href="/produto/<%- product.id %>/slug"
                  ><i class="fa fa-search-plus"></i> Quick view</a
                >
              </div>
              <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="#" class="title"><%- product.name %></a>
                  <div class="price-wrap mt-2">
                    <span class="price">$50</span>
                    <del class="price-old">$100</del>
                  </div>
                  <!-- price-wrap.// -->
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>
                <a href="#" class="btn btn-light btn-block"
                  ><i class="fa fa-heart"></i>
                  <span class="text">Add to wishlist</span>
                </a>
              </figcaption>
            </figure>
          </div>
          <% }) %>
          <!-- col.// -->
        </div>
        <!-- row end.// -->
        <nav class="mt-4" aria-label="Page navigation sample">
          <ul class="pagination justify-content-center">
            <% if(products.pagination.currentPage > 0){ %>
            <li class="page-item">
              <a
                class="page-link"
                href="?pageSize=<%- products.pagination.pageSize %>&currentPage=<%- products.pagination.currentPage - 1%>"
                >Anterior</a
              >
            </li>
            <% } %> <% for(let i=0; i < products.pagination.totalPages; i++ )
            {%>
            <li class="page-item">
              <a
                class="page-link"
                href="?pageSize=<%- products.pagination.pageSize %>&currentPage=<%- i %>"
                ><%= i+1 %></a
              >
            </li>
            <% } %> <% if(products.pagination.currentPage <
            products.pagination.totalPages - 1){ %>
            <li class="page-item">
              <a
                class="page-link"
                href="?pageSize=<%- products.pagination.pageSize %>&currentPage=<%- products.pagination.currentPage + 1%>"
                >Próximo</a
              >
            </li>
            <% } %>
          </ul>
        </nav>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>
<%- include('./partials/footer') %>
