<%- include('../header') %>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-light">
  <div class="container clearfix">
    <h2 class="title-page">Admin</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a class="" href="/admin">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Categorias</li>
      </ol>
    </nav>
  </div>
  <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y">
  <div class="container">
    <div class="row">
      <main class="col-sm-12">
        <div class="box mb-5">
          <a href="/admin/categorias/nova" class="btn btn-primary"
            >Nova Categoria</a
          >
        </div>

        <% categories.forEach(category =>{ %>
        <article class="box mb-2">
          <div class="row">
            <h4 class="title col-md-8"><%- category.category %></h4>
            <!-- col.// -->
            <div class="col-md-4 d-flex justify-content-around">
              <a
                href="/admin/categorias/editar/<%-category.id %>"
                class="btn btn-secondary"
                >Editar</a
              >
              <a
                href="/admin/categorias/excluir/<%-category.id %>"
                class="btn btn-danger"
                >Excluir</a
              >
            </div>
          </div>
          <!-- row.// -->
        </article>
        <% }) %>
      </main>
      <!-- col.// -->
    </div>
  </div>
  <!-- container .//  -->
</section>

<%- include('../footer') %>
